@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gantari&family=Smooch&display=swap');

.header{
    height: 34vw;
    background: url(/public/header_img.png) no-repeat;
    background-size: cover;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.header-contents{
    margin-top: 17%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3vw;
    width: 50%;
    animation: fadeIn 2s;
}

.header-contents p{
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.header-contents p span{
    color: black;
    font-weight: bold;
}

.header-contents h2{
    font-weight: 100;
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-weight: 500;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 2.0vw;
}

.header-contents button{
    border: 2px solid transparent;
    color: white;
    background-color: rgb(78, 78, 78);
    text-decoration: none;
    font-weight: 500;
    padding: 0.4vw 1.5vw;
    font-size: max(0.3vw, 15px);
    border-radius: 30px;
    transition: .4s;
}

.header-contents button:hover{
    background-color: black;
    cursor: pointer;
}

@media (max-width:1094px){
    .header-contents h2{
        font-size: 40px;
    }

    .header-contents{
        margin-top: 15%;
    }
}

@media (max-width:750px){
    .header-contents h2{
        font-size: 30px;
    }

    .header-contents p{
        font-size: 10px;
    }

    .header-contents{
        gap: 0.2vw;
    }

    .header-contents button{
        font-size: 13px;
    }
}

@media (max-width:550px){
    .header{
        height: 36vw;
    }
    .header-contents h2{
        font-size: 25px;
    }

    .header-contents p{
        font-size: 8px;
    }

    .header-contents{
        gap: 0.1vw;
        margin-top: 15%;
        width: 100%;
    }

    .header-contents button{
        font-size: 10px;
    }
}

@media (max-width:450px){
    .header{
        background-size: cover;
        height: 66vw;
        margin-bottom: 20px;
        background-position: center;
    }

    .header-contents{
        margin-top: 22%;
        width: 100%;
    }

    .header-contents h2{
        font-size: 25px;
    }

    .buttons{
        flex-direction: column;
        gap: 10px;
    }

    .header-contents button{
        font-size: 9px;
        width: 80px;
    }
    .header-contents p{
        font-size: 10px;
    }
}
