.Certificates{
    display: flex;
    flex-direction: column;
    gap: 3vw;
}
.Certificates h1{
    margin: auto;
    font-size: 2vw;
}

@media (max-width:750px){
    .Certificates h1{
        font-size: 5vw;
    }
}