.explore-skill{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 13px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

.explore-skill-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    overflow-x: scroll;
}

.explore-skill-list::-webkit-scrollbar{
    display: none;
}

.explore-skill-list-item img{
    width: 50px;
    cursor: pointer;
}

.explore-skill-list-item p{
    font-size: 12px;
    font-weight: 500;
}

@media(max-width:750px){
    .explore-skill{
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .explore-skill-list-item img{
        width: 30px;
    }
    .explore-skill-list-item p{
        font-size: 8px;
    }
}