.aboutme{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 40px;
    padding-bottom: 30px;
}

.aboutme-pic{
    align-items: center;
    width: 50%;
}

.aboutme-pic img{
    height: auto;
    width: 230px;
    border-radius: 10px;
    margin: auto;
    display: block;
}

.aboutme-text{
 width: 50%;
 padding-right: 15%;
 margin: auto;
}

.aboutme-text h2{
    font-size: 4.5vw;
}

.aboutme-text h4{
    padding-top: 10px;
}

.aboutme-text span{
    color: rgb(68, 68, 68);
}

.aboutme-text p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
}

.aboutme-text button{
    border: 2px solid transparent;
    color: white;
    background-color: rgb(78, 78, 78);
    text-decoration: none;
    font-weight: 500;
    padding: 0.4vw 1.5vw;
    font-size: max(0.3vw, 15px);
    border-radius: 30px;
    transition: .4s;
}

.aboutme-text button:hover{
    background-color: black;
    cursor: pointer;
}

@media(max-width:750px){
    .aboutme-pic img{
        width: 180px;
    }

    .aboutme-text p{
        font-size: 10px;
    }

    .aboutme-text button{
        font-size: 10px;
    }

    .aboutme-text p{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media(max-width:450px){
    .aboutme-pic img{
        width: 140px;
    }
    .aboutme{
        gap: 30px;
    }
}